.question-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
  padding: 20px 0;
  margin: 12px 0;
  width: 94%;
}
.question-card .right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 84%;
  padding: 0;
}
.question {
  width: 96%;
}
.question-card .options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 96%;
}
.question-card .options button {
  width: 100%;
  margin: 4px 0;
}
