.navbar {
  display: flex;
  height: 48px;
  background-color: #76ae5c;
  align-items: center;
  justify-content: flex-end;
  color: #f0f0f0;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}
