.test {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0;
  background-color: transparent;
  width: 100%;
}
.submit-test {
  width: 94vw;
  height: 36px;
  border: 1px solid #000;
  border-radius: 0;
  background-color: #51a341;
  color: #fff;
  width: 94%;
}

.test .top-line {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
}
.test label {
  width: 94%;
}
.marks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 64px);
  font-size: 14px;
}
